@media only screen and (max-width: 575px) {
    .home-hero-title {
        font-size: 35px;
        line-height: 50px;
    }
    .info-title,
    .text-xl,
    .fs-48 {
        font-size: 33px;
    }
    .testimonial-thumb img {
        width: 50px;
        margin: auto;
    }
    
    .testimonial-thumb.slick-current img {
        width: 70px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-hero-title {
        font-size: 55px;
        line-height: 60px;
    }
    .testimonial-thumb img {
        width: 50px;
        margin: auto;
    }
    
    .testimonial-thumb.slick-current img {
        width: 70px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .home-hero-title {
        font-size: 55px;
        line-height: 60px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .hero-h {
        min-height: 80vh;
    }
    .home-hero-title {
        font-size: 45px;
        line-height: 60px;
    }
    .about-info2-inner-box {
        position: absolute;
    }
    .me-2point5 {
        margin-right: 12px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .hero-h {
        min-height: 80vh;
    }
    .home-hero-title {
        font-size: 55px;
        line-height: 80px;
    }
    .features-box {
        width: 300px;
    }
    .about-info2-inner-box {
        position: absolute;
    }
    .me-2point5 {
        margin-right: 12px;
    }
}

@media only screen and (min-width: 1400px) {
    .hero-h {
        min-height: 80vh;
    }
    .features-box {
        width: 300px;
    }
    .about-info2-inner-box {
        position: absolute;
    }
    .me-2point5 {
        margin-right: 12px;
    }
}